.photo_upload_container {
  margin: 2vh 0;
}

.profile_tile {
  max-height: 14vh;
}

.feed_description {
  margin-left: 5vw;
  margin-top: 1vh;
  font-family: roboto, arial;
  font-size: 1.2em;
}

.feed_name {
  font-size: 1.6em;
  margin-left: 3vw;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}